@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Mitrital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body {
  min-height: 100%;
  font-family: 'Mitr', sans-serif !important;
}

#__next {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}

.filledTonal-primary {
  background-color: #e5f2ff,
}
.MuiDataGrid-footerContainer .MuiTablePagination-root{
  padding-right: 35px !important;
}
.MuiDataGrid-row:hover {
  cursor: default !important;
}
@media (max-width: 992) {
  .MuiDataGrid-footerContainer .MuiTablePagination-root{
    padding-right: 15px !important;
  }
}
